<!DOCTYPE html>
<html>
  <head>
    <title>Diary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='header'>Diary-O-Billa</div>

    <% if current_user %>
    <%= link_to current_user.username,
    events_path(current_user) %> is signed in<br>
    <button><%= button_to 'Log Out', session_path, method: :delete %></button>
    <% end %>

    <% if flash[:notice].present? %>
    <div class='notice'>
      <%= flash[:notice] %>
    </div>
    <% end %>

    <% if flash[:error].present? %>
    <div class='errors'>
      <b>Errors:</b>
      <%flash[:error] %>
    </div>
    <% end %>
    
    <%= yield %>

    <% if current_user %>
<!--     <br><br>
    
    <%=link_to 'Lets Add a Memory', new_event_path %> -->
    <% end %>


  </body>
</html>
