<center>
  <div>
    <%= form_for @event do |form| %>
    <p><span class='tags'>Name of Event:</span>
    <%= form.text_field :name, placeholder: 'Name of Event',size:'37x1', :class => 'input' %></p>
    <p><span class='tags'>Where was I:</span> <%= form.text_field :venue, placeholder: 'Venue',  size:'40x1',:class => 'input' %></p>
    <p><span class='tags'>When was it:</span> <%= form.text_field :date, placeholder: 'Date', size:'40x1',:class => 'input' %></p>
    <p class='tags'>My Memory:</p> <%= form.text_area :description, size: "80x12",:class => 'input' %><br>
    <%= form.submit :class => 'buttonTo'%>
    <% end %>
  </div>
</center>